version: "3"

networks:
  rabbit:
    driver: bridge
  db:
    driver: bridge

services:
  api:
    build: ./api
    depends_on:
      - postgres
      - rabbit
    environment:
      SERVER_TYPE: "HTTP"
    restart: on-failure
    ports:
      - "7766:7766"
    expose:
      - 7766
    networks:
      - db
      - rabbit

  postgres:
    image: postgres:11.1
    ports:
      - "5432:5432"
    expose:
      - 5432
    environment:
      POSTGRES_USER: rotation
      POSTGRES_PASSWORD: 123123
      POSTGRES_DB: rotation
    volumes:
      - ./setup.sql:/docker-entrypoint-initdb.d/setup.sql
    networks:
      - db

  rabbit:
    image: rabbitmq:3.7.17-management
    ports:
      - "15672:15672"
      - "5672:5672"
    expose:
      - 15672
    volumes:
      - ./rabbit.def.json:/etc/rabbitmq/definitions.json:ro
      - ./rabbit.config:/etc/rabbitmq/rabbitmq.config:ro
    networks:
      - rabbit